<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Zadania</title>
</head>
<body>
<h2>Lista zadan:</h2>
    <ul>
        <li th:each="task: ${allTasks}">
        <a th:href="|/task/${task.getId()}|" th:text="${task.getDescription()}"></a>
        </li>
    </ul>
<h2>Co chcesz zrobic:</h2>
<ul>
    <li>
        <a href="/tasksToDo">wyświetl zadania, które są jeszcze do zrobienia</a>
    </li>
    <li>
        <a href="/markAsCompleted">oznacz zadanie jako gotowe</a>
    </li>
    <li>
        <a href="/addNewTask">dodaj nowe zadanie</a>
    </li>
    <li>
        <a href="/archive">wyświetl liste zadań już zrealizowanych (archiwum)</a>
    </li>
</ul>
</body>
</html>